# Python
__pycache__/
*.pyc
.env
.venv/
venv/
build/
dist/
*.egg-info/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs/tmp
*_tmp/

# Local outputs
dist/
inbox/

# Audio/video outputs
*.mp3
*.wav
*.mp4
